AplicacionWebParaDBP/AplicacionWebParaDBP/Connected Services/ServiciosLaboratorio/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44386/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44386/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44386/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getCiudades_InputMessage">
    <wsdl:part name="parameters" element="tns:getCiudades" />
  </wsdl:message>
  <wsdl:message name="IService1_getCiudades_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCiudadesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GuardarInformacion_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarInformacion" />
  </wsdl:message>
  <wsdl:message name="IService1_GuardarInformacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarInformacionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCiudades_SQL_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCiudades_SQL" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCiudades_SQL_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCiudades_SQLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GuardarInformacionSimpleSQL_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarInformacionSimpleSQL" />
  </wsdl:message>
  <wsdl:message name="IService1_GuardarInformacionSimpleSQL_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarInformacionSimpleSQLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GuardarInformacionVerificandoSQL_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarInformacionVerificandoSQL" />
  </wsdl:message>
  <wsdl:message name="IService1_GuardarInformacionVerificandoSQL_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarInformacionVerificandoSQLResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getCiudades">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getCiudades" message="tns:IService1_getCiudades_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getCiudadesResponse" message="tns:IService1_getCiudades_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarInformacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GuardarInformacion" message="tns:IService1_GuardarInformacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GuardarInformacionResponse" message="tns:IService1_GuardarInformacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCiudades_SQL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCiudades_SQL" message="tns:IService1_GetCiudades_SQL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCiudades_SQLResponse" message="tns:IService1_GetCiudades_SQL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarInformacionSimpleSQL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GuardarInformacionSimpleSQL" message="tns:IService1_GuardarInformacionSimpleSQL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GuardarInformacionSimpleSQLResponse" message="tns:IService1_GuardarInformacionSimpleSQL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarInformacionVerificandoSQL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GuardarInformacionVerificandoSQL" message="tns:IService1_GuardarInformacionVerificandoSQL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GuardarInformacionVerificandoSQLResponse" message="tns:IService1_GuardarInformacionVerificandoSQL_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCiudades">
      <soap:operation soapAction="http://tempuri.org/IService1/getCiudades" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarInformacion">
      <soap:operation soapAction="http://tempuri.org/IService1/GuardarInformacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCiudades_SQL">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCiudades_SQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarInformacionSimpleSQL">
      <soap:operation soapAction="http://tempuri.org/IService1/GuardarInformacionSimpleSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarInformacionVerificandoSQL">
      <soap:operation soapAction="http://tempuri.org/IService1/GuardarInformacionVerificandoSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50196/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>